# Блок 4
## Задание 4.1

In [26]:
import pandas as pd 
df = pd.read_csv('precious_metal.csv', sep=';') 
print (df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   GOLDA    124 non-null    object
 1   Silver   121 non-null    object
 2   platinu  124 non-null    object
 3   Palla    120 non-null    object
 4   Date     128 non-null    object
dtypes: object(5)
memory usage: 5.1+ KB
None

## Задание 4.2

In [27]:
import pandas as pd 
df = pd.read_csv('precious_metal.csv', sep=';') 


df.set_axis(['gold', 'silver', 'platinum', 'palladium', 'date'], axis = 'columns', inplace = True)
print (df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   gold       124 non-null    object
 1   silver     121 non-null    object
 2   platinum   124 non-null    object
 3   palladium  120 non-null    object
 4   date       128 non-null    object
dtypes: object(5)
memory usage: 5.1+ KB
None

## Задание 4.3

In [40]:
import pandas as pd 
df = pd.read_csv('precious_metal.csv', sep=';') 


df.set_axis(['gold', 'silver', 'platinum', 'palladium', 'date'], axis = 'columns', inplace = True)
#print (df.info())
df.isnull().sum()
df = df.fillna(0)
print (df)

        gold silver platinum palladium             date
0     4784,4   58,7  2183,31   5677,62  31.10.2020 0:00
1    4759,17  60,67  2195,94   5662,27  30.10.2020 0:00
2    4729,52  60,93  2179,19   5812,01  29.10.2020 0:00
3    4667,69  59,68  2145,92   5813,41  28.10.2020 0:00
4    4673,64  60,85  2189,85         0  27.10.2020 0:00
..       ...    ...      ...       ...              ...
123  4047,21      0  1800,29   4298,85  09.05.2020 0:00
124   4023,9   35,7  1794,33   4324,99  08.05.2020 0:00
125  4040,41  35,85  1795,58   4221,39  07.05.2020 0:00
126  4014,11  35,86  1819,12   4655,36  01.05.2020 0:00
127   4041,8  35,93  1847,95   4638,83  30.04.2020 0:00

[128 rows x 5 columns]

## Задание 4.4

In [56]:
import pandas as pd 
df = pd.read_csv('precious_metal.csv', sep=';') 


df.set_axis(['gold', 'silver', 'platinum', 'palladium', 'date'], axis = 'columns', inplace = True)
#print (df.info())
df.isnull().sum()
df = df.fillna(0)
df['gold'] = df['gold'].apply(lambda x: float(str(x).replace(',','.'))) 
df['silver'] = df['silver'].apply(lambda x: float(str(x).replace(',','.'))) 
df['platinum'] = df['platinum'].apply(lambda x: float(str(x).replace(',','.'))) 
df['palladium'] = df['palladium'].apply(lambda x: float(str(x).replace(',','.'))) 


print (df)

        gold  silver  platinum  palladium             date
0    4784.40   58.70   2183.31    5677.62  31.10.2020 0:00
1    4759.17   60.67   2195.94    5662.27  30.10.2020 0:00
2    4729.52   60.93   2179.19    5812.01  29.10.2020 0:00
3    4667.69   59.68   2145.92    5813.41  28.10.2020 0:00
4    4673.64   60.85   2189.85       0.00  27.10.2020 0:00
..       ...     ...       ...        ...              ...
123  4047.21    0.00   1800.29    4298.85  09.05.2020 0:00
124  4023.90   35.70   1794.33    4324.99  08.05.2020 0:00
125  4040.41   35.85   1795.58    4221.39  07.05.2020 0:00
126  4014.11   35.86   1819.12    4655.36  01.05.2020 0:00
127  4041.80   35.93   1847.95    4638.83  30.04.2020 0:00

[128 rows x 5 columns]

## Задание 4.5

In [1]:
import pandas as pd 
df = pd.read_csv('precious_metal.csv', sep=';') 


df.set_axis(['gold', 'silver', 'platinum', 'palladium', 'date'], axis = 'columns', inplace = True)
#print (df.info())
df.isnull().sum()
df = df.fillna(0)
df['gold'] = df['gold'].apply(lambda x: float(str(x).replace(',','.'))) 
df['silver'] = df['silver'].apply(lambda x: float(str(x).replace(',','.'))) 
df['platinum'] = df['platinum'].apply(lambda x: float(str(x).replace(',','.'))) 
df['palladium'] = df['palladium'].apply(lambda x: float(str(x).replace(',','.'))) 


#print (df)
sr=df.mean()
print(sr)
df=df.replace(0,sr)
print(df)

gold         4234.953594
silver         49.593203
platinum     1988.522578
palladium    4679.690859
dtype: float64
        gold     silver  platinum    palladium             date
0    4784.40  58.700000   2183.31  5677.620000  31.10.2020 0:00
1    4759.17  60.670000   2195.94  5662.270000  30.10.2020 0:00
2    4729.52  60.930000   2179.19  5812.010000  29.10.2020 0:00
3    4667.69  59.680000   2145.92  5813.410000  28.10.2020 0:00
4    4673.64  60.850000   2189.85  4679.690859  27.10.2020 0:00
..       ...        ...       ...          ...              ...
123  4047.21  49.593203   1800.29  4298.850000  09.05.2020 0:00
124  4023.90  35.700000   1794.33  4324.990000  08.05.2020 0:00
125  4040.41  35.850000   1795.58  4221.390000  07.05.2020 0:00
126  4014.11  35.860000   1819.12  4655.360000  01.05.2020 0:00
127  4041.80  35.930000   1847.95  4638.830000  30.04.2020 0:00

[128 rows x 5 columns]

C:\Users\KMF\AppData\Local\Temp\ipykernel_8744\3513591989.py:16: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  sr=df.mean()

## Задание 4.6

In [13]:
import pandas as pd 
df = pd.read_csv('precious_metal.csv', sep=';') 


df.set_axis(['gold', 'silver', 'platinum', 'palladium', 'date'], axis = 'columns', inplace = True)
#print (df.info())
df.isnull().sum()
df = df.fillna(0)
df['gold'] = df['gold'].apply(lambda x: float(str(x).replace(',','.'))) 
df['silver'] = df['silver'].apply(lambda x: float(str(x).replace(',','.'))) 
df['platinum'] = df['platinum'].apply(lambda x: float(str(x).replace(',','.'))) 
df['palladium'] = df['palladium'].apply(lambda x: float(str(x).replace(',','.'))) 


#print (df)
sr=df.mean()
print(sr)
df=df.replace(0,sr)

df.pop('date')

df['gold_usd'] = round(df['gold']/77.95, 2)
df['silver_usd'] = round(df['silver']/77.95, 2)
df['platinum_usd'] = round(df['platinum']/77.95, 2)
df['palladium_usd'] = round(df['palladium']/77.95, 2)
print(df)

gold         4234.953594
silver         49.593203
platinum     1988.522578
palladium    4679.690859
dtype: float64
        gold     silver  platinum    palladium  gold_usd  silver_usd  \
0    4784.40  58.700000   2183.31  5677.620000     61.38        0.75
1    4759.17  60.670000   2195.94  5662.270000     61.05        0.78
2    4729.52  60.930000   2179.19  5812.010000     60.67        0.78
3    4667.69  59.680000   2145.92  5813.410000     59.88        0.77
4    4673.64  60.850000   2189.85  4679.690859     59.96        0.78
..       ...        ...       ...          ...       ...         ...
123  4047.21  49.593203   1800.29  4298.850000     51.92        0.64
124  4023.90  35.700000   1794.33  4324.990000     51.62        0.46
125  4040.41  35.850000   1795.58  4221.390000     51.83        0.46
126  4014.11  35.860000   1819.12  4655.360000     51.50        0.46
127  4041.80  35.930000   1847.95  4638.830000     51.85        0.46

     platinum_usd  palladium_usd
0           28.01          72.84
1           28.17          72.64
2           27.96          74.56
3           27.53          74.58
4           28.09          60.03
..            ...            ...
123         23.10          55.15
124         23.02          55.48
125         23.04          54.16
126         23.34          59.72
127         23.71          59.51

[128 rows x 8 columns]

C:\Users\KMF\AppData\Local\Temp\ipykernel_8744\2347944943.py:16: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  sr=df.mean()